
/* version 3 */

/* .health-section {
    padding: 0.5rem 0;
}

.slds-media {
    align-items: center;
}

.slds-theme_success {
    background-color: #04844b;
    color: white;
    border-radius: 4px;
}

.slds-theme_warning {
    background-color: #ffb75d;
    color: #080707;
    border-radius: 4px;
}

.slds-theme_error {
    background-color: #c23934;
    color: white;
    border-radius: 4px;
}

.slds-text-color_success {
    color: #04844b;
}

.slds-text-color_error {
    color: #c23934;
}

.slds-text-color_warning {
    color: #ffb75d;
} */
